<!--<div class="wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-6 ">
				<div class="backimg">
					<div class="phone">
						<div class="arrow arrow1">
							<div class="head"></div>
							<div class="body"></div>
							<div class="foot"></div>
						</div>
						<div class="arrow arrow2">
							<div class="head"></div>
							<div class="body"></div>
							<div class="foot"></div>
						</div>
						<div class="arrow arrow3">
							<div class="head"></div>
							<div class="body"></div>
							<div class="foot"></div>
						</div>
						<div class="arrow arrow4">
							<div class="head"></div>
							<div class="body"></div>
							<div class="foot"></div>
						</div>
						<div class="arrow arrow5">
							<div class="head"></div>
							<div class="body"></div>
							<div class="foot"></div>
						</div>
						<div class="arrow arrow6">
							<div class="head"></div>
							<div class="body"></div>
							<div class="foot"></div>
						</div>
						<div class="circle1"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
						<div class="circle4"></div>
						<div class="circle5"></div>
						<div class="circle6"></div>
					</div>
					<div class="cloud">
						<div class="cloud1"></div>
						<div class="cloud2"></div>
						<div class="cloud3"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 mrg-t-100">
				<form action="" method="post">
					<div class="form-inline">
						<a href="javascript:;" class="btn btn-link active"><b></b>效果平台</a>
						 <a href="javascript:;" class="btn btn-link right"><b></b>代理商</a> 
					</div> 
					<div class="form-group">
						<label class="sr-only">账号</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="icon-account"></i></div>
							<input name="username" class="form-control" type="text" [(ngModel)]="auth.userName" placeholder="请输入用户名">
						</div>
					</div>
					<div class="form-group">
						<label class="sr-only">密码</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="icon-password"></i></div>
							<input name="password" class="form-control" type="password" [(ngModel)]="auth.password" placeholder="请输入密码">
						</div>
					</div>
					<div class="hint" [class.active]="isHintShow">用户名或密码不正确！</div>
					<a href="javascript:;" class="btn btn-primary btn-lg btn-block login-in" (click)="submitLogin()">登录</a>
				</form>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="footer-text">
		<p class="text-center">©2014-2016 上海蓬景数字营销策划有限公司 版权所有 沪ICP备15002102号</p>
	</div>
</footer>-->

<div class="login-box">
	<img src="./dist/client/images/bg.png" class="login-box-bg">
	<div class="login-box-main">
		<img src="./dist/client/images/logo.png">
		<div class="login-box-main-box">
			<div class="login-box-main-box-input">
				<input type="text" class="form-control" placeholder="用户名" [(ngModel)]="auth.userName">
				<input type="password" class="form-control" placeholder="密码" [(ngModel)]="auth.password">
			</div>
			<img src="./dist/client/images/button.png" class="login-box-main-box-btn" (click)="submitLogin()">
			<i class="login-caret"></i>
		</div>
	</div>
</div>