<div class="white-wrapper ofh rel">
    <div class="add-head">
		<div class="add-head-bar-box">
			<span class="add-bar"></span>
			<span><span routerLinkActive="hover" [routerLink]="['/home/population']">人群列表</span> / 上传文件</span>
		</div>
		<div class="add-title">上传文件</div>
	</div>
    <form class="add-form">
        <div class="add-form-box">
            <div class="add-form-box-left">
				<div>人群名称：</div>
			</div>
			<div class="add-form-box-right">
                <div class="width293 rel">
                    <input type="text" class="form-control" [(ngModel)]="population.name" name="name" placeholder="请输入人群名称" validation [validations]="'username;required'">
                </div>			
			</div>
        </div>
        <div class="flex-center height70">
            <div class="add-form-box-left">
				<div>下载模板：</div>
			</div>
			<div class="add-form-box-right rel">
				<a href="./dist/client/resource/population_tmpl.txt" download="population_tmpl.txt"><img src="./dist/client/images/txt.png" class="width70 height70 pointer"></a>
			</div>
        </div>
        <div class="add-form-box">
            <div class="add-form-box-left">
				<div>上传文件：</div>
			</div>
			<div class="add-form-box-right rel">
				<input type="file" class="form-control import-add-form-file" #file ng2FileSelect [uploader]="uploader">
                <div class="import-add-form-file-show abs">
                    <div class="import-add-form-file-show-left pl14 color-black6 font14 pointer ell">{{ uploadMessage }}</div>
                    <div class="import-add-form-file-show-right font14 color-blue3">选择上传文件</div>
                </div>
			</div>
        </div>
        <div class="add-btn-box">
			<button class="btn btn-cancel mr20" type="button" [routerLink]="['/home/population']">取消</button>
			<button class="btn btn-primary mr20" type="button" (click)="save()">确定</button>
		</div>
    </form>
</div>